*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 260px;
    width: 260px;
    position: relative;
    transition-duration: 2s;
    /* agar hamne child ko absolute liya hai, then parent relative hoga  */
    margin:50px auto;
    transform-style: preserve-3d;
    margin: 20px;
    /* margin-top: -20px; */
    box-shadow: 20px 10px;
    border-radius: 15px;    
   
}
body{
    background-color: aquamarine;
}

.wrapper:hover{
    transform: rotateY(180deg);
    
}
.list-items{
   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.side-a{
    background-color:burlywood ;
    backface-visibility:hidden;
    z-index: 1;
    
    /* this property helped me to get iphone over the text  */
}
.side-b{
   
    background-color: aqua;
    transform: rotateY(180deg);
    /* this transfrom is req becuade jab rotate hoga tab pura roate hoga, issa hamara piche wala box ulta ho jayega , toh ussa bachna ka lia hamne pehle hi side b lko roate kiya in y axis taki baad mai jab y axis sa rotate ho toh voh seedha aaye  */
    padding: 20px;
    text-align: justify;
    font-size: 1.1rem;
}
img{
    height: 100%;
    width: 100%;
    
}
.side-a,.side-b{
    position: absolute; 
    width: 100%;
    height: 100%;
    border:2px solid black;
    border-radius: 15px;
    

    
    
    
    /* absolute islia diya taki voh with respect to parent ek hi jagah pai aa jaye and then unhe ham 3d card bana sake  */
}.side-a img,.side-b img{
    border-radius: 15px;
}

#intro{
    /* margin-top: 10px; */
    
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 5rem;
    font-weight: bolder;
    font-family: 'Teko', sans-serif;
}



.teddy{
    height: 300px; 
    width: 500px; 
    margin: auto;
     display: block;
     border-radius: 100px;
}

@media screen and (max-width:500px)  {
    
    #intro{
        font-size: 3rem;
    }
    .teddy{
        height: 250px; 
        width: 300px; 
        margin: auto;
         display: block;
         border-radius: 100px;
    }
    
}